$margin-size: 8px;
$border-radius: 4px;
$dot_size: 8px;

$red: #e00;
$green: #0a0;
$blue: #2f89ef;
$yellow: #ffe793;
$grey: #999;
$line-grey: #cccccc;
$background-color: #f5f5f5;
$blue-font-color: #4b73ea;
$line-border: 2px solid $blue-font-color;
$line-border-grey: 2px solid $line-grey;
$button0-border-radius: 2px;
$thin-line-border: 1px solid #eee;
$button-height: 36px;
//图表背景色
$chart-box-bg: rgba(22, 31, 40, 0.8);
//标题阴影
$title-shadow: 0 0 3px #000;
//选项选中样式
$item-hover: rgba(20, 120, 235, 1)


