// 自定义演示页面主题

//$font-family	字体
//$logo-font-family	//当logo为文字时的字体
//$link-font-family	//链接字体
$c-gap: #222225; //grid布局中缝隙颜色
$c-bg: #000000; //背景色
$c-highlight: #40B9FE; //高亮色
//$c-font	文字颜色
//$c-console-bg	//console控制台的背景色
//$c-console-bg-odd	//console控制台斑马线颜色
//$c-console-info	//console info类型日志颜色
//$c-console-warn	//console warning类型日志颜色
//$c-console-error	//console error类型日志颜色
//$c-flipbtn-bg	//移动端翻转按钮背景色
//$c-flipbtn-color	//移动端翻转图标颜色
